html{
    height: 100%;
	margin-bottom: 0.01em;
}
/* *{
    border: solid 2px black;
} */
.bg{
    background-color: snow;
    margin-top: 0;
    font-family: Poppins;
    font-size: nomarl;
    line-height: 1.6;

}
#wrapper{
    width: 1400px; 
	margin: 0 auto; 
}
#about, #expertise, #contact{
    margin-left: 41%;
}
#about:hover{
    text-decoration: underline blue; 
} 
#expertise:hover{
    text-decoration: underline blue; 
} 
#contact:hover{
    text-decoration: underline blue; 
}

.header{
    display: flex;
    width: 100%;
    position: fixed;        
    background: snow;
    padding: 10px 0;
    color: #fff;
    top: 0;
    transition: top 0.3s;
}
.nav{
    margin: 20px;
    margin-left: 15%;
}
.homefront{
    width: 300px;
}
.nav a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
.nav a:hover{
    background-color: lightblue;
    color: white;
}
.home{
    padding: 2%;
    display: flex;
    width: 100%;
}
.art{
    width: 50%;
    margin-top: 6%;
    text-align: justify;
}
/* .art .hmusa{
    padding-top: 0px;
} */

.photo{
    width: 40%;
    margin-top: 7%;
    margin-left: 3%;
}
.img{
    box-shadow: -10px -10px 10px 10px #a09696;
    border-radius: 010px;
    width: auto;
}
.about{
    padding-left: 4%;
    display: flex;
    width: 100%;
    text-align: justify;

}
.but{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    border: 0px;
    font-size: 16px;
}
.but:hover{
    background-color: lightblue;
}
.art1{
    margin-top: 0;
    width: 40%;
   padding: 3px;
}
.img1{
    margin-top: 10%;
    width: 50%;
    height: auto;
    box-shadow: -10px -10px 10px 10px #a09696;
    border-radius: 010px;
}
.expertise{
    display: flex;
    text-align: center;
    width: 100%;
    /* padding: 4%; */
}
.expertiseIcons{
    margin-left: 30%;
}
.expertiseName{
    margin-left: 30%;
}
.ui{
    box-shadow: -1px -1px 5px 5px #a09696;
    border-radius: 2px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: justify;
    align-content: center;
}
.frontEnd{
    box-shadow: -1px -1px 5px 5px #a09696;
    border-radius: 2px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: justify;

}
.backEnd{
    box-shadow: -1px -1px 5px 5px #a09696;
    border-radius: 2px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: justify;

}
.contactMe{
    align-items: center;
    margin-left: 28.5%;
    padding: 10px;
    width: 650px;
    border-radius: 10px;
    box-shadow: -2px -2px 10px 10px #a09696;
}
.form{
    width: auto;
}
.feelFree{
    width: auto;
    margin-left: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.input{
    display: block;
    width: 600px;
    padding: 5px;
    height: 40px;
    font-size: 24px;
    font-family: poppins;
    margin: 10px;
    border: 0;
    border-bottom: solid 3px black;
}
.message{
    border: 0;
    border-bottom: solid 3px black;
    margin: 10px;
    font-size: 24px;
    font-family: poppins;
}
.buttonsend{
    margin: 10px;
    margin-left: 35%;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    border: 0px;
    font-size: 16px;
}
.socialMedia{

    margin-top: 20px;
    margin-left: 25%;

}
.icon{
    width: 50px;
    height: 50px;
    padding: 20px;

}
.icon:hover{
    width: 60px;
    height: 60px;

}
.navfooter a{
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    padding: 10px;
    color: white;

}
.navfooter{
    margin-left: 1%;
    border-bottom: solid 5px white;
}
.navfooter a:hover{
    background-color: white;
    color: black;
}
.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;        
    background: blue;
    /* padding: 10px 0; */
    color: #fff;
    text-align: center;        
}
.copyright{
    font-size: 12px;
}
